.map {
    height: 100%;
    width: 100%;
    position: relative;
}
.gm-style-iw-d {
    width: 50vw
}
// .MuiCard-root {
//     display: flex;
//     align-items: center;
//     .MuiCardMedia-root {
//         width: 50%
//     }
// }