.tabs-container {
    display: flex;
    justify-content: center;
    .MuiTabs-root {
        width: 90%;
        .MuiTabs-scroller {
            .MuiTabs-flexContainer {
                .Mui-selected {
                    background-color: #116b81
                }
                .MuiButtonBase-root {
                    flex: 1 1;
                    background-color: #2ba0bc;
                    margin-right:0.25rem;
                    padding-left: 0.2rem;
                    .MuiTab-wrapper {
                        display:flex !important;
                        flex-direction: row !important;
                        .MuiSvgIcon-root {
                            color:white;
                            font-size: 1.4rem;
                            margin-right: -0.5rem;
                        }
                    }
                }
            }
        }
    }
}

.price-title {
    margin-left: 5vw
}